table.zaehlung td.anzahl, td.thema-davon  {
    text-align: right;
}

table.zaehlung tr.handlungsbereich {
    font-weight: bold;
}

table.zaehlung td.thema-davon::after {
    content: 'davon';
}

table.zaehlung tbody:nth-of-type(even) tr {
    background-color: #f3f3f3;
  }
