#footer {
    border-top: 1px solid black;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    font-size: 80%;
    padding-bottom: 1px;
}

#footer h1 {
    display: inline;
    font-size: inherit;
}

#footer h1:not(:only-child)::after {
    content: ' | ';
}

#footer a {
    text-decoration: none;
    color: inherit;
    font: inherit;
}

#footer a.github::before {
    content: ' ';
    background: url('../assets/GitHub-Mark-32px.png') left center no-repeat;
    background-size: 85% auto;
    padding-left: 3ex;
}

#logButton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

table.logTable {
    border-collapse: collapse;
    margin: 0 0 25px;
    min-width: 400px;
}

table.logTable thead {
    background-color: lightgray;
}

table.logTable tbody tr:hover {
    background-color: #fafafa !important;
}

table.logTable th,
table.logTable td {
    font-size: 0.85rem;
    padding: 12px 15px;
}

table.logTable tbody tr.error td {
    color: red;
}

table.logTable tbody tr.debug td {
    color: darkgray;
}
