.dropzone {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    outline: #aaa dashed thick;
    outline-offset: -8px;
    border-radius: 1rem;
    padding: 12px;

    background-color: #FFFACD;
    background-image: url(upload.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50%;

    font-weight: bold;
    color: #000532;

    overflow-wrap: anywhere;
}

@media (orientation: landscape) {
    .dropzone {
        width: 66vh; /* für die Abwärtskompatibilität */
        width: clamp(300px, 66vh, 600px);
        height: 66vh; /* für die Abwärtskompatibilität */
        height: clamp(300px, 66vh, 600px);

        font-size: 2.75vh; /* für die Abwärtskompatibilität */
        font-size: min(2.75vw, 40px);
    }
}
  
@media (orientation: portrait) {
    .dropzone {
        width: 66vw; /* für die Abwärtskompatibilität */
        width: clamp(350px, 66vw, 700px);
        height: 66vw; /* für die Abwärtskompatibilität */
        height: clamp(350px, 66vw, 700px);

        font-size: 2.75vh; /* für die Abwärtskompatibilität */
        font-size: min(2.75vh, 40px);
    }
}

.dropzone:hover, .dropzone.dragover {
    background-color: #ddd;
}

.dropzone.dragover {
    outline-color: #FAFAD2;
}

.dropzone input[type=file] {
    display: none;
}