body {
  padding-bottom: 1.5rem;
}

h2:not(:first-of-type) {
  margin-top: 5rem;
}

h3 {
  margin-top: 25px;
}

#main table {
  border-collapse: collapse;
  margin: 0 0 25px;
  min-width: 400px;
}

#main table caption {
  caption-side: top;
  font-weight: bold;
  color: black;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  padding-left: 0px;
  top: -1px;
  z-index: 2;

  transition: background-color .5s linear;
  transform: padding .5s linear;
  transform: color .5s linear;
}

#main table caption span.expand {
  font-size: 0;
  transition: font-size .4s ease-out;
}

#main table caption.is-pinned span.expand {
  font-size: 100%;
}

#main table thead  {
  background-color: #009879;
  color: #ffffff;
  text-align: left;

  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  z-index: 2;

}
/* Firefox < 102 hat Probleme mit sticky caption */
@supports (-moz-appearance:none) {
  #main table {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  #main table caption {
    position: static;
  }

  #main table thead {
    top: 0;
  }

  #main table caption span.expand {
    font-size: 100%;
    transition: none;
  }
}

#main table caption span.caption-flexbox {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

#main table.collapsed caption {
  background-color: #009879;
  color: #fff;
  padding-left: 5px;
}

#main table :is(tbody, tfoot) tr {
  transition: opacity .5s ease-in;
}

#main table.collapsing :is(tbody, tfoot) tr {
  opacity: 0;
}

#main table.collapsed :is(tbody, thead) tr {
  display: none;
}

#main table th,
#main table td {
  font-size: 0.85rem;
  padding: 12px 15px;
}

#main table tbody tr, table tfoot tr {
  border-bottom: 1px solid #dddddd;
}

#main table :is(tbody:only-of-type, tbody:last-of-type) tr:last-of-type {
  border-bottom: 2px solid #009879;
}

#main table tbody tr:hover {
  background-color: #FAFAD2 !important;
}

#main table tfoot td {
  font-weight: bold;
}

#main table  tfoot tr {
  border-bottom: 2px solid #009879;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  background-color: #009879;
  color: #ffffff;
}
