body {
  padding-bottom: 1.5rem;
}

.container {
  /*
  background-color: #aaa;
  */
}

.showtoggle {
  opacity: 1;
  transition: opacity .7s ease-in .1s;
}

.showtoggle.noshow {
  opacity: 0;
} 

/* Dieser Umweg ist nötig, weil `display: none` nicht gut mit der Transition zusammenspielt */ 
.showtoggle.noshow-invisible {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
  overflow: hidden;
}

.showtoggle.noshow-hidden {
  display: none;
}
